*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-color: #6a9fa5;
}

.header{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1{
    font-size: 55px;
}

.new-book{
    width: 200px;
    height: 50px;
    margin: 20px;
    border:3px solid black;
    border-radius: 10px;
    font-size: 25px;
}

.form-container{
    display: none;
    justify-content: center;
    align-items: center;
    
}

form{

}


.form-control{
    display: table-row; 
}

label{ 
    display: table-cell;
    font-size: 24px;
}

input{
    display: table-cell;
    margin: 10px 0px 10px 30px;
    width: 300px;
    height: 35px;
    padding-left: 10px;
    border: 2px solid black
}

input:active{
    border: 5px solid black
}

.submit-form{
    position: absolute;
    margin-top: 10px;
    padding: 10px 180px;
    border: 2px solid black
}

.container{
    margin: 20px;
    display: flex;
    gap: 20px;
}


.card{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    justify-content: center;
    background-color: lightcoral;
    border: 5px solid yellow;
    padding: 20px
}

.author{
    margin-top: 20px;
}


.remove{
    padding:10px 20px;
    margin-top: 20px;
}